{% extends 'base.html' %}

{% block page_content %}
<h3>Dish list Page</h3>
    {% for dish in dishes %}
        <div class="card" style="width: 18rem; margin: 10pt;">
            <div class="card-body">
                <p>{{ dish.name }}</p>
                <p>{{ dish.kcals }}</p>
                <p>{{ dish.carbs }}</p>
                <p>{{ dish.prots }}</p>
                <p>{{ dish.fats }}</p>
                <a href="{% url 'dish_edit' 'Change' dish.pk 'dish_list' %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'dish_edit' 'Del' dish.pk 'dish_list' %}" class="btn btn-primary">Remove</a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'dish_edit' 'Add' 'None' 'ingredient_list' %}" class="btn btn-primary">Add one</a>
{% endblock %}