{% extends "base.html" %}

{% block page_content %}
<h3>Ration on: {{date_value}}</h3>
    <div>
        <h4>Ration Values:</h4>

        <h5>Kilocalories:</h5>
        <p>{{ kpfc.kcals }}</p>

        <h5>Carbohydrates:</h5>
        <p>{{ kpfc.carbs }}</p>

        <h5>Proteins:</h5>
        <p>{{ kpfc.prots }}</p>

        <h5>Fats:</h5>
        <p>{{ kpfc.fats }}</p>
    </div>
    {% for food_item in foodItems %}
    <div class="card" style="width: 18rem; margin: 10pt;">
        <div class="card-body">
            <h3>{{ food_item.name }}</h3>
            <p>{{ food_item.amount }}</p>
            
            <a href="{% url 'date_edit' 'Del' the_date food_item.id next_target %}">Delete</a>
            <a href="{% url 'date_edit' 'Change' the_date food_item.id next_target %}">Change</a>
        </div>
    </div>
    {% endfor %}

    <a href="{% url 'date_edit' 'Add' the_date 'None' next_target %}" class="btn btn-primary">Add one</a>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}